nav {
  height: 120px;
  color: #FFFFFF;
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #4056A1;
  align-items: center;
  justify-content: space-between;
}

logo {
  font-family: 'Bungee', sans-serif;
}

.nav-right  {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon {
  color: red;
  display: flex;
  
  align-items: center;
}

strong {
  padding: .1em;
}