nav {
  height: 120px;
  color: #FFFFFF;
  display: flex;
  padding: 0 1.5em;
  background-color: #4056A1;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.logo {
  font-family: 'Bungee', sans-serif;
}

.nav-right  {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon {
  color: red;
  display: flex;
}

strong {
  padding: .1em;
}