.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  background-color: #f4f1ec;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: black solid;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  margin-top: .5em;
}

button {
  color: white;
  background-color: #4056A1;
}