section {
  width: 100%;
}

article {
  border: black solid;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding: 0 .5em;
}

.tweet-body {
  border-bottom: black solid;
  padding-bottom: 1em;
}

article header {
  background-color: #f4f1ec;
  background-image: none;
  display: flex;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  padding: 1em;
}

.handle {
  color: #539987;
  padding-right: 1em;
}

#tweets-container footer {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  padding: 0 1em 1em 1em;
}


/* Hover state */
article:hover {
  box-shadow: 4px 6px #539987;
}

article:hover .handle {
  font-weight: 700;
}

article i:hover {
  color: #E3C16F;
}

/* Hover state end*/